# ignore SIF file for running container
*.sif
.singularity**

# ignore dependencies I've downloaded and unpacked for reference
hdf5-1.12.1/**
HighFive/**

# ignore build and install dirs
build**
.container-install**
ldmx-sw**

# ignore data files
*.h5
**.ipynb_checkpoints**
*.root
*.pyc
output**
*.csv

# ignore cmake-generate header
Bench/include/Bench/Version.h
